.ms-loading-wrapper{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index: 1000;
}

.ant-select-tree li span.ant-select-tree-switcher_close.ant-select-tree-switcher{
  filter:none;
}

.ms-loading-bk{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index: 1;
  background-color: #000;
  opacity: .4;
}

.ms-loading-button{
  width:130px;
  display: block;
  margin:auto;
}
.ms-loading-img{
  position: relative;
  display: block;
  margin:50px auto;
}

.ms-loading-text{
  position: relative;
  display: block;
  font-size:20px;
  text-align: center;
  /* color:#ef473a; */
  margin:50px auto;
}

.ms-loading-content{
  position: relative;
  width:300px;
  margin:auto;
  margin-top: 200px;
  overflow: hidden;
  height:200px;
  background-color: #fff;
  border-radius: 10px;
  z-index: 10;
}